<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Little Website</title>
  <link rel="stylesheet" href="/static/style.css">
  <!-- <script src="static/main.js"></script> -->
</head>
<script src="static/guestBook.js"></script>
<body>
  <h1>HELLO {{user}}</h1>
  {% if user == "unknown" %}
  <p> I don't think I know who you are. Could you throw a <pre>?userName=something</pre> at the end of the old url there for me? </p>
  {% endif %}
  {% if user != "unknown" %}
  <h1>Authors:</h1>
    <p>Just some text</p>
    <img src="static/Goldy2019_34.jpg"></a>
    <ul id="guestList">
    </ul>
    <form id="guestBook">
        <input type="text" id="guestInput" name="guestInput">
        <label for="guestInput"></label>
    </form>
    <button onclick="addGuest()">Add Guest</button>
    {% endif %}
  <!-- <button id="tester">test</button> -->


</body>
</html>